/* A. L. Stewart, 9 Feb 2025 */

* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    font: 16px verdana;
    margin: 0;
}

a {
    color: #008000;
}

header, ul, #content-wrapper {
    width: 90%;
    max-width:1200px;
    margin-left: auto;
    margin-right: auto;
}

[id=logo] {
    position: absolute;
    top: 0px;
    left: 0px;
 }
 
 header {
     position: relative;
 }

header h1, nav ul {
    padding-left: 50px;
}

nav {
    background-color: #008000;
}

li { 
    display: inline-block;
    list-style-type: none;
}

ul a {
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    font-style: bold;
    color: #fff;
}

ul a:hover { 
    background-color:#000;
    color: #9ae39a;
}

main article img {
    border: 3px double #333;
    float: left;
    margin-top: .5rem  1rem .5rem 0; 
}

main section {
    display: flex;
}

main section div {
    background-color: #e7ffe7;
    border: 1px solid #008000;
    border-radius: 10px;
    margin-right: 1rem;
    text-align: center;
    flex: 1;
}

#bam {
    margin-right: 0;
}

main section div h2 {
    background-color: #008000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: white;
    margin-top: 0;
}

main section div img {
    border: 3px double #333;
    display: block;
    margin: auto;
}

aside section {
    background-color: #fff;
    margin-bottom: 1rem;
    border: 1px solid #008000;
}

aside h3 {
    background-color: #008000;
    color: #fff;
    padding: .5rem;
    margin: 0;
}

aside a {
    display: inline-block;
    padding: .5rem;
}

#content-wrapper {
    display: flex;
}

aside {
    background-color: #ccc;
    margin-right: 1rem;
    padding: .5rem;
    position: relative;
    top: 20px;
    flex: 1;
    order: 2;
}

aside h2 {
    margin-top: 0px;
    white-space: nowrap;
}

#content-wrapper main {
    order: 3;
}
